@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,500&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500;1,700&display=swap');

/*------ RESETS -------*/
* {
    padding: 0;
    margin: 0 3px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*----- ROOT -----*/
:root {
    --green-color: #6FBF44;
    --title-color: #161A49;
    --text-color: #4B505A;
}

/*------ HEADER - LINKS ------*/
.links {
    display: flex;
    justify-content: right;
    margin-top: 17px;
}

.link{
    font: 600 16px 'Montserrat', sans-serif;

    visibility: hidden;
    opacity: 0;
}

.link a {
    color: white;
}

.link:last-child {
    padding: 10px 15px;
    background: var(--green-color);
    color: white;
    border-radius: 20px;
    transition: all 0.7s;

    visibility: visible;
    opacity: 1;
}

.link:last-child:hover {
    background: #52972c;
}

/*------- MAIN ------*/
.text {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font: 700 30px 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: var(--title-color);
}

p {
    font: 500 16px 'Poppins', sans-serif;
    line-height: 34px;
    color: var(--text-color);

    padding-top: 7px;
    padding-bottom: 26px;
}

span {
    color: var(--title-color);
}

.learn {
    font: 500 18px 'Poppins', sans-serif;
    color: var(--green-color);
    transition: color 0.7s;
}

.learn:hover {
    color: #52972c;
}

/*------ SECTION ------*/
.image img {
    margin-left: 80px;
    margin-top: 30px;
    width: 350px;
    height: 300px;
}


/*------- FOR PC ------*/
@media (min-width: 600px) {
    *{
        text-align: left;
    }

    /*--- HEADER - LINKS ------*/
    .links {
        display: flex;
        justify-content: left;
        margin-top: 30px;
        margin-left: 10px;
    }

    .link{
        font: 600 18px 'Montserrat', sans-serif;
        visibility: visible;
        opacity: 1;
    }

    .lin {
        margin-top: 12px;
    }

    .link a {
        color: var(--title-color);
        transition: color 0.7s;
    }
    
    .link a:hover {
        color: #000;
    }

    /*----- MAIN -----*/
    main {
        display: flex;
        margin-top: 80px;
    }
    
    h1 {
        font: 700 40px 'Poppins', sans-serif;
        letter-spacing: 1px;
        color: var(--title-color);
        margin-top: 70px;
    }
    
    .learn {
        display: flex;
        font: 500 25px 'Poppins', sans-serif;
        color: var(--green-color);
        transition: color 0.7s;
    }
    
    .image {
        display: flex;
    }


    .image img {
        display: inline-block;
        width: auto;
        height: 360px;

        padding-right: 84px;
    }
}